asgiref==3.2.10
Babel==2.9.1
dj-database-url==0.5.0
Django==3.1.1
django-heroku==0.3.1
django-tempus-dominus==5.1.2.14
gunicorn==20.0.4
paytmchecksum==1.7.0
Pillow==9.3.0
psycopg2==2.8.6
pycryptodome==3.9.9
python-decouple==3.4
pytz==2020.1
sqlparse==0.3.1
tkcalendar==1.6.1
whitenoise==5.2.0
